@import "https://unpkg.com/leaflet@1.9.3/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "colasta"; /* Choose a name for your font */
  src: url("./fonts/Colasta-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add this to your global CSS file or a CSS module */
/* styles.css */
@keyframes wc-y-anim {
  /* Define your keyframes here */
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}
@keyframes cube {
  /* Define your keyframes here */
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}
@keyframes bubble-one {
  /* Define your keyframes here */
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}
@keyframes bubble-two {
  /* Define your keyframes here */
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes car {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
@keyframes bike {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

.car {
  @apply animate-car;
}
.bike {
  @apply animate-bike;
}

.wc-y-anim {
  @apply animate-wc-y-anim;
}
.cube {
  @apply animate-cube;
}
.bubble-one {
  @apply animate-bubble-one;
}
.bubble-two {
  @apply animate-bubble-two;
}
/* .group {
  transition: all 15s;
} */

.btn-span,
.btn-span:before {
  transform-origin: 50% 0;
  animation-duration: 0.5s;
}

.btn-span {
  position: relative;
  display: inline-block;
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  padding: 0;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
  transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotate(0)
    rotate3d(0, 0, 0, 0deg) skewX(0) skewY(0) scale3d(1, 1, 1);
  transform-style: preserve-3d;
}
/* ///////////////////////////////////////////////////////// */
.btn-span:before,
.link:hover .btn-span {
  transform: translate(0, -2px) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  transform: translate3d(0, -2px, 0) rotateX(90deg) rotateY(0) rotate(0)
    rotate3d(0, 0, 0, 0deg) skewX(0) skewY(0) scale3d(1, 1, 1);
}
.btn-span:before {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
  --tw-content: attr(data-text);
  transform: rotateX(-90deg);
  content: var(--tw-content);
}

.link:hover .btn-span {
  transform: translateY(-2px);
  color: inherit;
  transform: rotateX(90deg);
}
.slick-track {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 30px;
}
@media (min-width: 320px) {
  .slick-track {
    display: block;
  }
}
@media (min-width: 768px) {
  .slick-track {
    display: flex;
    gap: 30px;
  }
}

.slick-dots {
  bottom: -45px;
}

.link-span:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

/* In your CSS file or a Tailwind CSS file */
.bg-custom-gradient {
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
}
.bg-custom-radial {
  background-image: radial-gradient(red, yellow);
}
.bg-custom-linear {
  background-image: linear-gradient(180deg, #5e2ced, #a485fd);
}

.bg-about {
  background-image: linear-gradient(
    140deg,
    rgba(125, 13, 240, 0.9),
    rgba(58, 113, 235, 0.9)
  );
}
.custom-bg {
  background-color: hsla(0, 0%, 100%, 0.9);
}
